
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<form th:action="@{/inventarios/insertar}" th:object="${inventario}" method="POST">
		<table>
			<tr>
				<td>
					<label>Numero de Bodega:</label>
				</td>

				<td>
					<input type="text" id="numero" th:field="${inventario.bodega.numero}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Codigo de Barras Maestro:</label>
				</td>
				<td>
					<input type="text" id="codigo" th:field="${inventario.producto.codigoDeBarrasMaestro}">
				</td>
			</tr>

			<tr>
				<td>
					<label>Cantidad:</label>
				</td>
				<td>
					<input type="text" id="cantidad" th:field="${inventario.cantidad}">
				</td>
			</tr>



		</table>
		<input class="btn btn-primary" type="submit" value="Crear">
	</form>
</body>

</html>